* {
  margin: 0;
  padding: 0;
}
.main_container {
    color: white;
    background-color: #003666;
    padding: 60px 0px;
    width: 100%;
    height: 130vh;
}

.loader {
    position: relative;
    left: 500px;
    top: 100px;
}

.title_sale {
    font-size: 2.5rem;
}